html, body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
}
*,*:before,*after{
	margin: 0;
	padding: 0;
}
h1{
	margin: 0;
}
p{
	margin: 0;
	padding: 0;
}
@font-face{
	font-family: "Raleway-Bold";
	src: url(../fonts/Raleway-bold.ttf);
}
@font-face{
	font-family: "Raleway-SemiBold";
	src: url(../fonts/Raleway-SemiBold.ttf);
}
@font-face{
	font-family: "Raleway-Regular";
	src: url(../fonts/Raleway-Regular.ttf);
}
.container{
	padding: 0 15px;
	margin: 0 auto;
	max-width: 1140px;
	padding: 0 10px;

}
.header{
	position: fixed;
	width: 100%;
	height: 80px;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 3;
}
.header__menu{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80px;
}
.header__logo{
	flex: 0 0 60px;
}
.header__navigation__items{
	display: flex;
}
.header__list{
	list-style: none;
}
.header__link{
	display: flex;
	text-decoration: none;
	line-height: 2;
	font-family: "Raleway-Bold", sans-serif;
	text-transform: uppercase;
	color: white;
	cursor: pointer;
	
	margin-left: 36px;
	
}
a:hover{
	text-decoration: underline;
}
/*Content*/

/*Сделать медиа-запрос*/
.intro{
	width: 100%;
	height: 752px;
	background-image: url(../img/bg.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;;
	padding-top: 80px;
}
.intro__main{
	font-family: "Raleway-Bold", sans-serif;
	color: white;
	font-size: 25px;
	line-height: 45px;
	margin-top: 269px;
	position: 0;
	

}
.intro__quote{
	color: white;
	font-family: "Raleway-SemiBold", sans-serif;
	font-size: 16px;
	margin-top: 50px;
}
.intro__button{
	display: flex;
	position: relative;
	margin-top: 125px;
}
.intro__link_button{
	margin: 0 auto;
}
.intro__button button{

width: 350px;
height: 55px;
background:transparent;
outline: none;
color: white;
border: 1px;
border-style: solid;
border-color: white;
font-family: "Raleway-Regular", sans-serif;
font-size: 30px;
}
/*Какие задачи я выполняю
*/
.skills{
	padding-top: 60px;
	background-image: url(../img/bgsec.png);
	background-size: 100% 100vh;
	background-repeat: no-repeat;
	width: 100%;
	min-height: 675px;

}
.skills__what{
	font-family:"Raleway-Bold", sans-serif;
	font-size: 36px;
	margin: 0 auto;
	width: 452px;
	margin-top: 55px;
}
.skills__listone{
	margin-top: 67px;
	display: flex;
	margin-left: 80px;
}
.skills__fixed{
	width: 220px;
	height: 220px;
	/*margin-left: 80px;*/
	border: 2px solid;
	border-color: #cccccc;
	background-color: white;
}
.skills__fixed:hover{
	position: relative;
	opacity: 1;
	transform: scale(1.5);
	transition: 0.5s;
	color: white;
	background-color: #4f3e85;
	border-color: white;
}
.skills__adaptive{
	width: 220px;
	height: 220px;
	margin-left: 161px;
	border: 2px solid;
	border-color: #cccccc;
	background-color: white;
}
.skills__adaptive:hover{
	position: relative;
	opacity: 1;
	transform: scale(1.5);
	transition: 0.5s;
	color: white;
	background-color: #4f3e85;
	border-color: white;

}
.skills__crossbrowser{
	width: 220px;
	height: 220px;
	margin-left: 161px;
	border: 2px solid;
	border-color: #cccccc;
	background-color: white;
}
.skills__crossbrowser:hover{
	position: relative;
	opacity: 1;
	transform: scale(1.5);
	transition: 0.5s;
	color: white;
	background-color: #4f3e85;
	border-color: white;
}
.skills__listtwo{
	margin-top: 55px;
	display: flex;
	/*margin-left: 80px;*/
}
.skills__design{
	width: 220px;
	height: 220px;
	/*margin-left: 80px;*/
	border: 2px solid;
	border-color: #cccccc;
	background-color: white;
}
.skills__design:hover{
	position: relative;
	opacity: 1;
	transform: scale(1.5);
	transition: 0.5s;
	color: white;
	background-color: #4f3e85;
	border-color: white;
}
.skills__hosting{
	width: 220px;
	height: 220px;
	margin-left: 161px;
	border: 2px solid;
	border-color: #cccccc;	
	background-color: white;
}
.skills__hosting:hover{
	position: relative;
	opacity: 1;
	transform: scale(1.5);
	transition: 0.5s;
	color: white;
	background-color: #4f3e85;
	border-color: white;
}
.skills__support{
	width: 220px;
	height: 220px;
	margin-left: 161px;
	border: 2px solid;
	border-color: #cccccc;
	background-color: white;
}
.skills__support:hover{
	position: relative;
	opacity: 1;
	transform: scale(1.5);
	transition: 0.5s;
	color: white;
	background-color: #4f3e85;
	border-color: white;
}
.skills__icon{
	width: 80px;
	height: 80px;
	display: block;
	margin-top: 25px;
	margin: 0 auto;
	margin-top: 25px;
}

.skills__header{
	display: flex;
	justify-content: center;
	margin-top: 10px;
	font-family: "Raleway-Regular", sans-serif;
	font-size: 12px;
}
.skills__description{
		margin-top: 15px;
		font-family: "Raleway-Regular", sans-serif;
		font-size: 9px;
		text-align: center;
}
/*Тут начало  портфолио*/


/*Форма сообщений*/
.mail{
	width: 100%;
	height: 675px;
	padding-top: 60px;
	
}
.mail__discuss{
	display: flex;
	justify-content: center;
	margin-top: 55px;
	font-family: "Raleway-Bold", sans-serif;
	font-size: 36px;
}
.mail__quote{
	display: flex;
	justify-content: center;
	font-family: "Raleway-Regular", sans-serif;
	font-size: 16px;
	text-transform: uppercase;
	margin-top: 25px;
}
.mail__feedback{
	display: flex;
	justify-content: center;
	margin-top: 60px;
}
.mail__label{
	font-family: "Raleway-Regular", sans-serif;
	font-size: 14px;

}
.mail__input{
	margin-top: 10px;
	margin-bottom: 25px;
	width: 350px;
	height: 35px;
	padding: 0;
	size: 20px;
	border-radius: 0;
	border: 2px solid #cccccc;
}
.mail__message{
	width: 350px;
	height: 135px;
	border-radius: 0;
	border: 2px solid #cccccc;
	overflow: hidden;
	resize: none;
}
.mail__button{
	width: 155px;
	height: 35px;
	margin-top: 30px;
	background-color: black;
	color: white;
	font-family: "Raleway-Bold", sans-serif;
	font-size: 16px;
	float: right;
	cursor: pointer;

}
/*Подвал*/
.footer{
	width: 100%;
	height: 160px;
	display: flex;
	background-color: black;
}
.footer__social{
	display: flex;
	align-items: center;
	height: 160px;
}
.footer__link{
	padding: 65px;
}

@media (max-width: 1200px){
	.container{
		max-width: 970px;
	}
}



@media (max-width: 992px){
	.container{
		max-width: 750px;
	}

}


@media ( max-width: 767px){
	.container{
		max-width: none;
	}
}